@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/*ajuste de manera global*/
:root{
    --green: #0c443a;
    --ligth-green: #25d1b2;
    --degraded: linear-gradient(90deg, var(--ligth-green), var(--green));
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

*::selection{
    background: var(--ligth-green);
    color: white;
}

html{
    font-size: 62.4%;
    overflow:auto;
}


body{
    background: #f9f9f9;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--degraded);
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 .5rem .1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;

}

.btn:hover{
    transform: scale(1.1);
}


.heading{
    text-align: center;
    background: var(--green);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}


/*ENCABEZADO*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    color: var(--green);
}

header .logo span{
    color: var(--ligth-green);
}

header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--green);
}

header .navbar a:hover{
    color: var(--ligth-green);
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(--green);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

/*INICIO*/

.init{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/inicio_fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.init .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

.init .content h3{
    font-size: 5.4rem;
    color: #333;
    text-transform: uppercase;    
}

.init .content h3 span{
    color: var(--ligth-green);
    text-transform: uppercase;
}

.init .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

/*QUIENES SOMOS*/

.about{
    background: white;
}

.about .content-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .content-box .box{
    background: white;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    flex: 1 1 40rem;
    border-radius: .5rem;
}

.about .content-box .box  .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    margin-top: 2rem;
}

.about .content-box .box  .user h3{
    color: var(--green);
    font-size: 2rem;

}

.about .content-box .box .description{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem;

}


/*PRODUCTOS*/

.product{
    background: white;
}

.imgs:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}


.product .content-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow:hidden
}

.product .content-box .box{
    flex: 1 1 30rem;
    background: white;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.product .content-box .box img{
    height: 15rem;
}

.product .content-box .box img:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
.product .content-box .box img{
    transition: all .3s linear;
}

.product .content-box .box h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}


.product .content-box .box p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
    
}

/*contactos*/

.contact{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.contact .image{
    flex: 1 1 40rem;
}

.contact .image img{
    width: 75%;
    padding: 2rem;
}

.contact form{
    flex: 1 1 40rem;  
    padding: 2rem 3rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: white; 
}

.contact .heading{
    text-align: left;
    padding: 0;
    padding-bottom: 2rem;
}

.contact form .inputbox{
    position: relative;
}

.contact form .inputbox input, .contact form .inputbox textarea{
    width:  100%;
    background: none;
    color: #333;
    margin: 1.5rem 0;
    padding: .5rem 0;
    font-size: 1.7rem;
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
    text-transform: none;
}

.contact form .inputbox textarea{
    resize: none;
    height: 13rem;
}
.contact form .inputbox label{
    position: absolute;
    top: 1.7rem;
    left: 0;
    font-size: 1.7rem;
    color: #666;
    transition: .2s linear;
}

.contact form .inputbox input:focus ~ label,
.contact form .inputbox input:valid ~ label,
.contact form .inputbox textarea:focus ~ label,
.contact form .inputbox textarea:valid ~ label
{
    top: -.5rem;
    font-size: 1.5rem;
    color: var(--ligth-green);
    
}



/*subir archivo*/
.input-file{
    text-align: center;
    justify-content: center;
    position: relative;
    margin: .1rem;
    padding: .2rem;
    width: 170px;
    background-color: var(--ligth-green);
    border-radius: .5rem;
}

.input-file p{
    text-align: center;
    color: white;
    font-size: 1.7rem;
}

.input-file .btn-file{
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/*footer*/

.footer{
    padding-top: 3rem;
    background: url(../img/footer-fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .content-box{
    display: flex;
    flex-wrap: wrap;
}

.footer .content-box .box{
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .content-box .box h3{
    font-size: 2.2rem;
    padding: 1rem 0;
    color: whitesmoke;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .content-box .box p{
    font-size: 1.5rem;
    padding: .5rem;
    color: whitesmoke;
}

.footer .content-box .box a{
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: whitesmoke;
}

.footer .content-box .box a:hover{
    text-decoration: underline;
}

.footer .content-box .box .info{
    display: flex;
    align-items: center;
}

.footer .content-box .box .info i{
    margin: .5rem 0;
    margin-right: 1rem;
    border-radius: 50%;
    background: whitesmoke;
    color: var(--green);
    font-size: 1.8rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: whitesmoke;
    border-top: .1rem solid whitesmoke;
    padding: 2.5rem 1rem;
    text-align: center;
}



/*Responsivo*/
@keyframes float{
    0%, 100%{
        transform: translateY(0rem)
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width:990px){
    section{
        padding: 0 3%;
        padding-top: 7.5;
        padding-bottom: 2rem;
    }
}

@media(max-width: 768px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar {
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .init{
        flex-flow: column-reverse;
    }

    .init .image img{
        width: 100%; 
    }

    .init .content h3{
        font-size: 3.6rem;
    }

    .int .content p{
        font-size: 1.5rem;
    }

}


@media(max-width:450px) {
    html{
        font-size: 49%;
    }
}
